body{
  background-color: #2098D1;
  overflow-y: scroll;
  overflow-x: hidden;
  margin:0 ;
  padding: 0;
  font-family: sans-serif;
}

h1{
  font-size: 300%;
}

h1,h2, h3, h4{
  text-align: center;
}

.glyphicon-map-marker{
  color: #FF4D4D;
}

.top{
  position: relative;
  padding-top: 22%;
  padding-bottom: 22%;
  z-index: 1;
  color: white;
  pointer-events: auto;
  height: 100vh;
}

.btn{
  background-color:#2098D1 ;
  width: 15%;
  color: white;
}

.btn:hover{
  background: #1d88bb;
  color:white;
}

#toExp{
  display: none;
  padding: 10px;
}

hr{
  width: 30%;
  border-color: gray;
}

.element{
  display: inline;
  text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.experience{
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color:white;
  pointer-events:auto;
  z-index: 1;
  
}

.jobTitle{
  font-size: 150%;
}

.experience h1, .jobTitle, .job{
  color: #2098D1;
}

b{
  font-size: 110%;
}

.skills{
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color:#2098D1;
  pointer-events:auto;
  z-index: 1;
  color: white;
}

.about p{
  color: white;
  padding-left: 10%;
}

.about a{
  color: blue;
}

#myChart{
  z-index: 2;
}


.experience hr{
  width: 70%;
}

.experience .row{
   padding-left: 3%;
}

#SAP{
  width: 25%;
  height: auto;
}

@media(min-width: 992px)
{
  #SAP{
  width: 40%;
  }
}

@media(max-width: 991px)
{
  .leftcol{
    text-align: center;
    margin: 5vw;
    }
}

#ESUC{
  height: 75%;
  width: auto;
}

.portfolio{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color:white;
  pointer-events:auto;
  z-index: 1;
}
.portfolio h1, .portfolio b, .portfolio h2{
  color: #2098D1;
}


.sudoku{
  position: relative;
  width: 40vw;
  height: 40vh;
  background-color: #20d159;
  margin: 5vh;
}

.bruintime{
  position: relative;
  width: 40vw;
  height: 40vh;
  background-color: #16688f;
  margin: 5vh;
}

.kappstone{
  position: relative;
  width: 40vw;
  height: 40vh;
  background-color: #d1b220;
  margin: 5vh;
}

.calc{
   position: relative;
  width: 40vw;
  height: 40vh;
  background-color: #d15920;
  margin: 5vh;

}

@media(max-width: 600px)
{
   .portpart{
     width: 80vw;
     height: 30vh;
   }

   .kappstone{
    margin-top: 0;
   }

}

@media (max-width: 1000px)
{
  #BruinTime{
    width: 90%;
    padding-left: 7%;
  }
}
