body{
  background-color: #252839;

}

#particles-js{
  top: 0;
  position: absolute;
  background-color: #252839;
  width: 98%;
  height: 99%;
  z-index: 0;
  pointer-events:auto;
}

.LandingPage{
  height:100%;
  width: 100%;
  z-index: 1;
  position: relative;
  pointer-events:none;
  text-align: center;
}

.top{
  padding-top: 25%;
  padding-bottom: 25%;
  height: 100%;
  width: 100%;
  z-index: 1;

}
.about{
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1;
}